@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

        :root{
            --main-color:#FDF0C5;
            --black:black;
            --bg:white;
            --border:.1rem solid rgba(255,255,255,.3);
        }

        *{
            font-family: 'Roboto', sans-serif;
            margin:0; padding:0;
            box-sizing: border-box;
            outline: none; border:none;
            text-decoration: none;
            text-transform: capitalize;
            transition: .2s linear;
        }
        .heading{
            text-align: center;
            color:black;
            text-transform: uppercase;
            padding-bottom: 3.5rem;
            font-size: 4rem;
        }

        .heading span{
            color:var(--main-color);
            text-transform: uppercase;
        }

        .btn{
            margin-top: 1rem;
            display: inline-block;
            padding:.9rem 3rem;
            font-size: 1.7rem;
            color:black;
            background: var(--main-color);
            cursor: pointer;
        }

        /* .btn:hover{
            letter-spacing: .2rem;
        } */

        .header{
            background: var(--bg);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:1.5rem 7%;
            border-bottom: var(--border);
            position: fixed;
            top:0; left: 0; right: 0;
            z-index: 1000;
        }

        .header .logo{
            color:#EC2545;
        }

        .header .navbar a{
            margin:0 1.25rem;
            font-size: 1.25rem;
            color:black;
        }

        .header .navbar a:hover{
            color:var(--main-color);
            border-bottom: .1rem solid var(--main-color);
            padding-bottom: .5rem;
        }

        .header .navbar2 a{
            margin:0 1.5rem;
            font-size: 1.4rem;
            color:#EC2545;
        }
        .home{
            min-height: 100vh;
            display: flex;
            align-items: center;
            background:url(css/homeee.jpg) no-repeat;
            background-size: cover;
            background-position: center;
        }

        .home .content{
            max-width: 60rem;
        }

        .home .content h3{
            font-size: 4rem;
            text-transform: uppercase;
            color:rebeccapurple;
        }

        .home .content p{
            font-size: 2rem;
            font-weight: lighter;
            line-height: 1.8;
            padding:1rem 0;
            color:#eee;
        }

        .about h1{
            margin-top: 1rem;
            color:#ffbc01 ;
        }
        .about .row{
            margin: 1rem;
            display: flex;
            align-items: center;
            background:burlywood;
            flex-wrap: wrap;
        }

        .about .row .image{
            margin-top:-2rem; 
            margin-left:8rem;
            flex:1 1 45rem;
        }

        .about .row .image img{
            width: 50%;
        }

        .about .row .content{
            margin-top:-3rem; 
            flex:1 1 45rem;
            padding:1rem;
        }

        .about .row .content p{
            font-size: 1.6rem;
            align-items: right;
            color:rgb(90, 5, 5);
            padding:2rem 0;
            line-height: 1.8;
        }

        .blogs .heading{
            color:#c1897c;
        }

        .blogs .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            gap:1.5rem;
        }

        .blogs .box-container .box{
            border:.1rem solid black;    
        }

        .blogs .box-container .box .image{
            height: 25rem;
            overflow:hidden;
            width: 100%;
        }

        .blogs .box-container .box .image img{
            height: 100%;
            object-fit: cover;
            width: 100%;
        }

        .blogs .box-container .box:hover .image img{
            transform: scale(1.2);
        }

        .blogs .box-container .box .content{
            padding:2rem;
        }

        .blogs .box-container .box .content .title{
            font-size: 2.5rem;
            line-height: 1.5;
            color:black;
        }

        .blogs .box-container .box .content .title:hover{
            color:var(--main-color);
        }

        .blogs .box-container .box .content span{
            color:var(--main-color);
            display: block;
            padding-top: 1rem;
            font-size: 2rem;
        }

        .blogs .box-container .box .content p{
            font-size: 1.6rem;
            line-height: 1.8;
            color:#ccc;
            padding:1rem 0;
        }

        .footer{
            background:#c1897c;
            text-align: center;
        }

        .footer .links{
            margin:3rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding:3rem 0;
            gap:1rem;
        }

        .footer .links a{
            padding:.3rem 2rem;
            color:white;
            border:var(--border);
            font-size: 2rem;
        }

        .footer .links a:hover{
            background:var(--main-color);
        }

        .footer .credit{
            margin:-3rem;
            font-size: 1.5rem;
            color:white;
            font-weight: lighter;
            padding:-10rem;
        }

        .footer .credit span{
            color:var(--main-color);
        }