<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Payment Successfull</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <style>
        #logo{
            color:#EC2545;
        }
        h1{
            color:#EC2545;   
        }
    </style>
</head>
<body>
<h2 id="logo"> Period Fl<i class="fa-solid fa-droplet"></i>w</h2>
<center>
<h1>Signup Successfull<h1>
<p style="color:black;">Help us help you better by taking a survey</p>
<a th:href="@{/periodflow/survey}"><input style="background-color:black; color:white;" type="button" value="Go to survey page"></a>
</center>
</body>
</html>